*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
} 
/* ----------------HEADER------------- */
#head_div{
    width: 100%;
    height: 90px;
     display: flex; 
    border: 2px solid transparent; 
    background-color: #942678;
    position: fixed;
}
#main_logo{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90px;
    width:15% ;
    margin-left:3% ;
}

#navbar_div{
    height:90px;
    width: 65%;
    display: flex;
    background-color:transparent;
}
#navbar{
    height:90px;
    width:100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly; 
   list-style-type: none;
   font-size: 20px;
   font-weight: bold;
} 
#head_div:hover{
    border:2px solid gainsboro ;  
}
a:hover{
    color:orangered;
    text-decoration: underline;
}
a{
    color:#ffffff;
    text-decoration: none;
}
/* --------------MAIN BOX------------- */
#main_div{
    height: 500px;
    width: 100%;
    background-image: url("Images/sports-car-driving-asphalt-road-night-generative-ai.jpg");
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#main_heading{
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 70px;
   }
/* ------------------------------TARIFF BOX-------------------- */
#tariff_box{
    margin-top: 30px;
    height: 2800px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
     justify-content: space-around; 
     flex-wrap: wrap; 
}
.tariff_boxes{ 
    padding-top: 30px;
    height: 500px;
    width: 242px;
   background-color: #ffffff;
     margin-top: 40px; 
     border: 2px solid black;

} 
.tariff_box_img{
   width: 240px;
   height: 212px;
}

.tariff_box_car_name{
   color: #942678;
   display: flex;
   justify-content: center;
}
.inr{
   color: #942678;
   display: flex;
   justify-content: center;
}
.inner{
   padding: 20px 10px 20px 10px;
  /* margin-top: 5px;  */
  font-size: 18px;
 margin:10px;
}
.tariff_box_btn{
   padding: 0px;
   margin-top: 15px;
   height: 30px;
   width: 222px;
   background-color: #942678;
}
/* --------------TERMS & CONDITION BOX-------------- */
#terms{
    margin-top: 30px;
    height: 500px;
    width:100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
   }
#terms_heading{
    margin-top: 20px;
    margin-bottom: 15px;
    color: #942678;
    font-size: 20px;
}
#terms_img_box{
    width: 50%;
    height: 300px;
    
}
#term_img{
    width: 50%;
    height: 300px;
    border-radius: 100px;
    

}
/* -----------------FOOTER------------ */
#foot{
    background-color: #942678;
    height: 100px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
